{% extends "ch/layout/_layout" %} 
{#{% set title = "Commercial Bait"|t('plugin-handle') %}#}
{% block content %} 
	
	<div class="section-header">
	  <div class="container">
	    <div class="section-header-content">
	      <h6><a href="{{ craft.app.sites.primarySite.baseUrl }}ch/bait">饵</a>  |  {{ entry.title|raw }}</h6>
	      <h1>{{ entry.title|raw }}</h1>
	    </div>
	  </div>
	</div>
	<section class="our-commercialBait-wrapper grey-bg">
	  <div class="container">
	    <div class="row align-items-center justify-content-center mb-5">
	      <div class="col-lg-8 col-md-10">
	        <div class="team-mate-content text-center">
	          <h4>{{ entry.aboutUsTitle|raw }}</h4>
	          {{ entry.description|raw }}
	        </div>
	      </div>
	    </div>
	    <div class="row">
	    	{% set commercialBaitListings = craft.entries.section('commercialBaitListing').orderBy('postDate desc').limit(null).all() %}
	      {% if commercialBaitListings|length %}
	        {% for commercialBaitListing in commercialBaitListings %}
			      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
			        <div class="bait-list-box">
			          {# <a href="{{ commercialBaitListing.url }}"> #}
			          {% set Img = commercialBaitListing.image.one() ?? null %}
	         	            {% if Img|length %}
			            <span class="bait-list">
			              <figure>  
			                <img src="{{ Img.getUrl() }}" alt="{{ Img.title }}" class="img-fluid">
			              </figure>
			              {% set checkboxFieldType = commercialBaitListing.stampEnableDiasble %}
							{% for option in checkboxFieldType.options %}
							    {% if option.selected %}
								    <figure class="msc-img">  
                    	                <img src="{{ craft.app.sites.primarySite.baseUrl }}assets/uploads/msc.png" alt="abc" class="img-fluid">
                    	              </figure>
								  {% endif %}
							{% endfor %}
			            </span>
			            {% endif %}
			            <h5 class="tk-rufina mt-3">{{ commercialBaitListing.title }}</h5>
			          {# </a> #}
			        </div>
			      </div>
			    {% endfor %}
	      {% endif %}
	    </div>
	  </div>
	</section>
    
{% endblock %}