{% extends "en/layout/_layout" %} 
{#{% set title = "Cargo Solutions"|t('plugin-handle') %}#}
{% block content %} 

	<div class="section-header">
	  <div class="container">
	    <div class="section-header-content">
	      <h6>{{ entry.title|raw }}</h6>
	      <h1 class="tk-rufina">{{ entry.title|raw }}</h1>
	    </div>
	  </div>
	</div>
	<section class="cargo-solution-wrapper grey-bg">
	  <div class="container">
	    <div class="row align-items-center justify-content-center">
	      <div class="col-lg-8 col-md-10">
	        <div class="team-monitoring-content text-center">
	        	{% set imgsrc = entry.image.one().url ?? null %}
            {% set imgalt = entry.image.one().url ?? null %}
	          <img src="{{ imgsrc }}" alt="{{ imgalt }}" class="img-fluid mb-4">
	          <h4 class="tk-rufina">{{ entry.aboutUsTitle|raw }}</h4>
	          {{ entry.description|raw }}
	        </div>
	        <div class="row mt-5">
	        	{% set imageTitleLinks = entry.imageTitleLink.all() %}
         		{% if imageTitleLinks|length %}
	         		{% for imageTitleLink in imageTitleLinks %}
			          <div class="col-lg-6 mb-4 mb-lg-0">
			            <div class="temprature-list-box">
			              <span class="temprature-list">
			                <figure>  
			                  <img src="{{ imageTitleLink.realTimeImage.one().url }}" alt="{{ imageTitleLink.realTimeImage.one().title }}" class="img-fluid">
			                </figure>
			              </span>
			              <h5 class="tk-rufina">{{ imageTitleLink.realTimeTitle }}</h5>
			              <a class="find-out-btn" href="{{ imageTitleLink.realTimeLink }}">{{ imageTitleLink.realTimeButtonText }}</a>
			            </div>
			          </div>
			        {% endfor %}
        		{% endif %}
	        </div>
	        <div class="time-tracker mt-5 text-center">
	        	{{ entry.ourBaitsDescription|raw }}
	          
	          {% set imgsrc = entry.mapsImage.one().url ?? null %}
            {% set imgalt = entry.mapsImage.one().url ?? null %}
	          <figure>  
	            <img src="{{ imgsrc }}" alt="{{ imgalt }}" class="img-fluid">
	          </figure>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
    
{% endblock %}