{% extends "ch/layout/_layout" %} 
{#{% set title = "About Us"|t('plugin-handle') %}#}
{% block content %} 

 <div class="section-header">
    <div class="container">
      <div class="section-header-content">
        <h6>{{ entry.title|raw }}</h6>
        <h1>{{ entry.title|raw }}</h1>
      </div>
    </div>
  </div>
  <section class="about-us grey-bg">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-11">
          <div class="row justify-content-between align-items-center">
            <div class="col-xl-5 col-lg-6 order-2 order-lg-1 mb-4 mb-lg-0">
              <div class="section-content">
                <h6>{{ entry.title|raw }}</h6>
                <h2>{{ entry.aboutUsTitle|raw }}</h2>
                {{ entry.description|raw }}
                {% set readmorelink = entry.aboutUsButtonLink.one().slug ?? null %}
                <a href="{{ craft.app.sites.primarySite.baseUrl }}ch/{{ readmorelink }}" class="read-more">{{ entry.aboutUsButton|raw }}</a>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 order-1 order-lg-2">
              <div class="row">
                {% set imageDatas = entry.imageMatrix.all() %}
                  {% if imageDatas|length %}
                    {% for imageData in imageDatas %}
                    <div class="col-md-6 col-sm-6">
                      <div class="section-pic">
                        <figure>
                          <img src="{{ imageData.imgmatrix.one().getUrl() }}" alt="{{ imageData.imgmatrix.one().title }}" class="img-fluid">
                        </figure>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-seafood-wrapper blue-bg">
    <div class="container">
      <hr class="mt-0" style="border-color: #CECECE;">
      <div class="d-flex mb-3 mb-lg-5 align-items-center justify-content-between">
        <h2 class="text-white">{{ entry.contactTitle|raw }}</h2>
        {% set readmorelink = entry.buttonUrl.one().slug ?? null %}
        <a href="{{ readmorelink }}" class="read-more d-none d-md-inline-block">{{ entry.buttonText|raw }}</a>
      </div>
      <div class="row">
        {% set partnersListings = entry.aboutUsPartners.all() %}
        {% if partnersListings|length %}
          {% for partnersListing in partnersListings %}
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
              <div class="partner-list">
                <figure>
                  <!-- <a href="#">  -->  
                  <img src="{{ partnersListing.image.one().getUrl() }}" alt="{{ partnersListing.image.one().title }}" class="img-fluid">
                  <!-- </a> -->
                </figure>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="view-all d-block d-md-none text-right">
        <a href="{{ readmorelink }}" class="read-more mt-0">{{ entry.buttonText|raw }}</a>
      </div>
    </div>
  </section>
  <section class="team-mate-wrapper grey-bg">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="team-mate-content text-center">
            <h6>{{ entry.fatTitle|raw }}</h6>
            <h2>{{ entry.heading|raw }}</h2>
            {{ entry.ourBaitsDescription|raw }}
            {% set readmorelink = entry.learnMoreUrl.one().slug ?? null %}
            <a href="{{ craft.app.sites.primarySite.baseUrl }}ch/{{ readmorelink }}" class="read-more mt-0">{{ entry.learnMoreText|raw }}</a>
          </div>
        </div>
      </div>
    </div>
  </section> 

    
    
{% endblock %}