<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ entry.title }} | {{ siteName }}</title>
    {% hook 'seo' %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% if header.aboutusImage | length %}
        <link rel="icon" href="{{ header.aboutusImage.one().getUrl() }}" sizes="16x16">
    {% endif %}

    <link rel="stylesheet" href="{{ craft.app.sites.primarySite.baseUrl }}assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://use.typekit.net/rei0wkr.css">
    <link rel="stylesheet" href="{{ craft.app.sites.primarySite.baseUrl }}assets/css/countrySelect.css">
    <link rel="stylesheet" href="{{ craft.app.sites.primarySite.baseUrl }}assets/css/fancybox.min.css">
    <link rel="stylesheet" href="{{ craft.app.sites.primarySite.baseUrl }}assets/css/local.css">
    <link rel="stylesheet" href="{{ craft.app.sites.primarySite.baseUrl }}assets/css/responsive.css">
    <script src="{{ craft.app.sites.primarySite.baseUrl }}assets/js/jquery.js"></script>
  </head>

  <body>
    <header class="site-header">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="custom-logo d-flex justify-content-between align-items-center col-xl-2 col-lg-2 col-4 order-1 order-lg-1">
              <button class="navbar-toggler d-inline-block d-lg-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">	
                <div class="bar1"></div>	
                <div class="bar2"></div>	
                <div class="bar3"></div>	
              </button>

            {% if header.image | length %}
            <a href="{{ craft.app.sites.primarySite.baseUrl }}ch" class="navbar-brand">
              <img src="{{ header.image.one().url }}" alt="{{ header.image.one().title }}">
            </a>
            {% endif %}
          </div>
          <div class="col-lg-8 col-xl-7 col-12 order-3 order-lg-2 custom-menu">
            <nav class="navbar navbar-links navbar-expand-lg">
              <div class="navbar-collapse collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav text-left ">

                  {# Get top-level entries in structure group 'megamenu' #}
                  {% set parentFeatures = craft.categories().group('megamenu').level(1).all() %}

                  {# Loop through top-level entries #}
                  {% for parentFeature in parentFeatures %}
                    {% set cslug = parentFeature.aboutUsButtonLink.one().getUrl() ?? null %}
                      {# Check if entry has descendants/children #}
                      {% if not parentFeature.hasDescendants %}

                        {# List navigation item if entry has NO child entries #}
                        <li> <a href="{{ cslug }}">{{ parentFeature.title }}</a></li>
                      {% else %}

                        {# List navigation item if entry does have child entries #}
                        {# Show an active class if it is active or if it contains a child that is active #}

                        {# Get child entries of current iteration's top-level entry #}
                        {% set subPages = parentFeature.getChildren() %}

                        {% set subImg = subPages[0].image ?? null %}
                        
                        {% if subPages|length %}

                        {% set imgCls = 'image-menu'  %}

                          <li class="dropdownMenu {% if parentFeature.title == '关于我们' %}menu-list-box {% endif %}{% if subImg|length %} {{ imgCls }} {% endif %}">
                              {% set parentFeatureSlug = parentFeature.aboutUsButtonLink.one().getUrl() ?? null %}
                            <div class="menu-list"><a class="open-submenu" href="{{ parentFeatureSlug }}">{{ parentFeature.title }}</a> 
                              <span class="arrow down d-none d-lg-block"></span>	
                              <span class="plus-icon"><i class="fas fa-plus"></i></span>	
                              <span class="back-btn" style="display:none">Back</span>
                            </div>
                            <div class="sub-menu">                              
                              {% if subImg|length %}
                                <div class="image-list-box container">
                              {% else %}
                                <ul>
                              {% endif %}
                                {# Loop through those 2nd-level entries #}
                                {% for subPage in subPages.all() %}

                                    {% set subPageSlug = subPage.aboutUsButtonLink.one().getUrl() ?? null %}
                                    {% set subMenuImg = subPage.image ?? null %}
                                      {# This is the place where you'd nest the next menu hierarchy!!#}
                                      {# List sub-menu navigation item #}
                                      {% if subMenuImg|length %}
                                      <div class="image-list">
                                        <a href="{{ subPageSlug }}">
                                          <img src="{{ subPage.image.one().url }}" class="img-fluid"/>
                                          <h3 class="tk-rufina">{{ subPage.title }}</h3>
                                        </a>
                                      </div>
                                      {% else %}
                                        <li><a href="{{ subPageSlug }}">{{ subPage.title }}</a></li>
                                      {% endif %}
                                  {% endfor %}
                                {% if subImg|length %}
                                </div>
                                {% else %}
                                  </ul>
                              {% endif %}
                            </div>
                          </li>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                    <li class="d-block d-lg-none">	
                        <div class="form-item">	
                            <input type="text" class="mr-3 form-control" id="country_dd">	
                        </div>	
                    </li>	
                    <li class="d-block d-lg-none">	
                        <a href="{{ craft.app.sites.primarySite.baseUrl }}contact-us" class="read-more">Get In Touch </a>	
                    </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="col-lg-2 col-xl-3 col-8 text-right order-1 order-lg-3">
            <div class="header-country-wrapper">
                <div class="d-none d-lg-block">	
                    <div class="form-item">	
                    <input type="text" class="mr-3 form-control country_selector">	
                    </div>
                    <a href="{{ craft.app.sites.primarySite.baseUrl }}ch/contact-us" class="read-more">保持联系 </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </header>    
    {% block content %}
    
      {% endblock %}
    
    <!-- End Our-client -->
    <footer class="custom-footer">
      <div class="container">
        <div class="footer-top-wrapper">
          <div class="row">
            <div class="col-xl-6 col-lg-4 mb-5 mb-lg-0">
              <div class="footer-logo">
                <img src="{{ footer.aboutusImage.one().url }}" alt="{{ footer.aboutusImage.title }}" class="img-fluid">
                {{ footer.description|raw }}
                <ul>
                  {% if footer.subTitle %}
                    <li><a href="{{ footer.subTitle|raw }}"><span><i class="fab fa-instagram"></i></span></a></li>
                  {% endif %}
                  {% if footer.aboutUsButton %}
                    <li><a href="{{ footer.aboutUsButton|raw }}"><span><i class="fab fa-facebook-f"></i></span></a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-8">
              <div class="row">
                <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
                  <div class="footer-links">
                    <h6>我们的海鲜</h6>
                    <ul>
                      {# Get top-level entries in structure section 'features' #}
                      {% set OurSeaFoodMenus = craft.categories().group('ourSeaFoodFooetrMenu').level(1).all() %}
                      {# Loop through top-level entries #}
                      {% for OurSeaFoodMenu in OurSeaFoodMenus %}
                        {% set ourslug = OurSeaFoodMenu.aboutUsButtonLink.one().getUrl() ?? null %}
                          <li> <a href="{{ ourslug }}">{{ OurSeaFoodMenu.title }}</a></li>
                        {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
                  <div class="footer-links">
                    <h6>关于我们</h6>
                      <ul>
                        {# Get top-level entries in structure section 'features' #}
                        {% set aboutUsFooterMenus = craft.categories().group('aboutUsFooterMenu').level(1).all() %}
                        {# Loop through top-level entries #}
                        {% for aboutMenu in aboutUsFooterMenus %}
                          {% set aslug = aboutMenu.aboutUsButtonLink.one().getUrl() ?? null %}
                            <li> <a href="{{ aslug }}">{{ aboutMenu.title }}</a></li>
                          {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 mb-0 mb-md-0">
                    <div class="footer-links">
                      <h6>{{ footer.buttonText|raw }}</h6>
                      {{ footer.sustainabilityBottomDescription|raw }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <hr>
        <div class="footer-bottom-wrapper d-flex justify-content-between">
          <span>© {{ now|date('Y') }} {{ footer.aboutUsTitle|raw }}</span>
          <span>{{ footer.ourBaitsDescription|raw }}</span>
          <span>Website by <a href="#">Fabric</a></span>
        </div>
      </div>
    </footer>
      
    <!--footer area end-->
    
    <script src="{{ craft.app.sites.primarySite.baseUrl }}assets/js/bootstrap.min.js"></script>
    <script src="{{ craft.app.sites.primarySite.baseUrl }}assets/js/countrySelect.js"></script>
    <script src="{{ craft.app.sites.primarySite.baseUrl }}assets/js/fancybox.min.js"></script>
    <script src="{{ craft.app.sites.primarySite.baseUrl }}assets/js/local.js"></script>
    <script type="text/javascript">
      /*$(document).ready(function(){
        var BaseUrl = '{{ craft.app.sites.primarySite.baseUrl }}';
        $(".country_selector").on('change', blankFlag);
        function blankFlag(e) {
          var selectedflag = $('.selected-flag').attr('title');
          if(selectedflag=='United States'){
            var currentURL = BaseUrl;
            window.location.href = currentURL;
          } else {
            var currentURL = BaseUrl+'ch';
            window.location.href = currentURL;
          }
        }   
        $("#country_selector").countrySelect({
          defaultCountry: "cn",
          onlyCountries: ['cn', 'us'],
        });
      });*/
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
          
          var winWidth = $(window).width();
          if(winWidth <= 992){
              $('#country_dd').addClass('country_selector_mob');
          }
          
          // For Desktop
        var BaseUrl = '{{ craft.app.sites.primarySite.baseUrl }}';
        $(".country_selector").on('change', blankFlag);
        function blankFlag(e) {
          var selectedflag = '';
          selectedflag = $('.selected-flag').attr('title');
          if(selectedflag=='New Zealand'){
            var currentURL = BaseUrl;
            window.location.href = currentURL;
          }else {
            var currentURL = BaseUrl+'ch';
            window.location.href = currentURL;
          }
        }   
        $(".country_selector").countrySelect({
          defaultCountry: "cn",
          onlyCountries: ['cn', 'nz'],
        });

        // For Mobile
          $(".country_selector_mob").on('change', blankFlags);
          function blankFlags(e) {
           var selectedflags = '';
           selectedflags = $('.selected-flag').attr('title');
           
          if(selectedflags=='New Zealand'){
            var currentURLs = BaseUrl;
            window.location.href = currentURLs;
          }else {
            var currentURLs = BaseUrl+'ch';
            window.location.href = currentURLs;
          }
        }   
        $(".country_selector_mob").countrySelect({
          defaultCountry: "cn",
          onlyCountries: ['cn', 'nz'],
        });
      });
      
    </script>
  </body>
</html>
