{% extends "ch/layout/_layout" %} 
{#{% set title = "Contact Us"|t('plugin-handle') %}#}
{% block content %} 

	<div class="section-header">
	  <div class="container">
	    <div class="section-header-content">
	      <h6>{{ entry.title|raw }}</h6>
	      <h1 class="tk-rufina">{{ entry.title|raw }}</h1>
	    </div>
	  </div>
	</div>
	<section class="our-contact-wrapper grey-bg">
	  <div class="container">
	    <div class="row">
	      <div class="col-xl-4 col-lg-6  order-2 order-lg-1">
	        <div class="contact-address-wrapper">
	          <h5>{{ entry.aboutUsTitle|raw }}</h5>
	          <a href="tel:{{ entry.fatTitle|raw }}">{{ entry.fatTitle|raw }}</a>
	        </div>
	        <div class="contact-address-wrapper">
	          <h5>{{ entry.buttonText|raw }}</h5>
	          <a href="mailto:{{ entry.aboutUsButton|raw }}">{{ entry.aboutUsButton }}</a>
	        </div>
	        <div class="contact-address-wrapper">
	          <h5>{{ entry.heading|raw }}</h5>
	          <p>{{ entry.description|raw }}</p>
	        </div>
	        <div class="contact-address-wrapper">
	          <h5>{{ entry.contactTitle|raw }}</h5>
	          <p>{{ entry.ourBaitsDescription|raw }}</p>
	        </div>
	      </div>
	      <div class="col-xl-6 col-lg-6 offset-xl-2 order-1 order-lg-2">
	        <div class="contact-form-wrapper">
	          <h5>Contact Form</h5>
	          <style type="text/css">
	          	.errors li{color: red;}
	          </style>
	          {% macro errorList(errors) %}
					    {% if errors %}
				        <ul class="errors">
				          {% for error in errors %}
				            <li>{{ error }}</li>
				          {% endfor %}
				        </ul>
					    {% endif %}
						{% endmacro %}

	          {% from _self import errorList %}
	          <form method="post" action="" accept-charset="UTF-8">
              {{ csrfInput() }}
              <input type="hidden" name="action" value="contact-form/send">
              {{ redirectInput('contact-us/thanks') }}

		          <div class="row mt-4">
		            <div class="col-lg-6 col-md-6">
		              <div class="form-group">
		                <label>First Name</label>
		                <input class="form-control" type="text" name="fromName" value="{{ message.fromName ?? '' }}" required="required">
		                {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
		              </div>
		            </div>
		            <div class="col-lg-6 col-md-6">
		              <div class="form-group">
		                <label>Last Name</label>
		                <input class="form-control" type="text" name="message[LastName]" value="{{ message.message.LastName ?? '' }}" required="required">
		                {{ message is defined and message ? errorList(message.getErrors('message.LastName')) }}
		              </div>
		            </div>
		            <div class="col-lg-6 col-md-6">
		              <div class="form-group">
		                <label>Email</label>
		                <input class="form-control" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}"  required="required">
                    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
		              </div>
		            </div>
		            <div class="col-lg-6 col-md-6">
		              <div class="form-group">
		                <label>Phone</label>
		                <input class="form-control" type="number" name="message[Phone]" value=""  required="required">
		              </div>
		            </div>
		            <div class="col-lg-12">
		              <div class="form-group">
		                <label>Message</label>
		                <textarea class="form-control" rows="6" name="message" required="required">{{ message.message ?? '' }}</textarea>
		                {{ message is defined and message ? errorList(message.getErrors('message')) }}
		              </div>
		            </div>
		            <div class="col-lg-12">
		              <div class="form-group captcha-box">
		                   {{ craft.recaptcha.render() }}
		              </div>
		            </div>
		            <div class="col-lg-12">
		              <div class="form-group">
		                <!-- <button type="submit" class="read-more">Submit</button> -->
		                <input type="submit" class="read-more" value="Submit">
		              </div>
		            </div>
		          </form>
	          </div>
	          {% if entry.fatValue %}
    	          <div class="map-wrapper mt-5">
    	            <iframe src="{{ entry.fatValue }}" width="780" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    	          </div>
	          {% endif %}
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
    
{% endblock %}