{% extends "ch/layout/_layout" %} 
{#{% set title = "Snapper"|t('plugin-handle') %}#}
{% block content %} 

       <div class="section-header py-5">
           <div class="container">
               <div class="section-header-content">
                   <h6 class="mb-3 mb-md-4">{{ entry.snapperSpanTitle1|raw }}  |  {{ entry.snapperSpanTitle2|raw }}  |  {{ entry.title|raw }}</h6>
                   <h1 class="tk-rufina">{{ entry.title|raw }}</h1>
               </div>
           </div>
       </div>
       <section class="our-snapper-wrapper grey-bg">
           <div class="container">
               <div class="row">
                   <div class="col-xl-4 col-lg-6 col-md-6 order-2 order-md-1">
                       <div class="large-item-detail">
                           <hr>
                           <h4>{{ entry.heading|raw }}</h4>
                           <p>{{ entry.description|raw }}</p>
                           <hr>
                       </div>
                       <div class="large-item-detail">
                           <h4>Nutritional Information <small>(Per 100g)</small></h4>
                           <div class="nutritional-list">
                            {% for block in entry.nutritionalInfo.type('nutritional') %}
                               <div class="nutritional-item">
                                   <h6>{{ block.itemname }}</h6>
                                   <h2>{{ block.weight }}</h2>
                               </div>
                            {% endfor %}  
                           </div>
                           <hr>
                       </div>
                       <div class="large-item-detail">
                            {% if entry.snapperItemHeading %}<h4>{{ entry.snapperItemHeading|raw }}</h4>{% endif %}
                           {% if entry.snapperItemImage | length %}
                           <figure>  
                                <img src="{{ entry.snapperItemImage.one().url }}" alt="{{ entry.snapperItemImage.one().title }}" class="img-fluid">
                            </figure>
                            {% endif %}
                           <a href="#" class="read-more mt-5">Enquire</a>
                       </div>
                   </div>
                   <div class="col-xl-7 col-lg-6 col-md-6 offset-xl-1 order-1 order-md-2">
                        {% if entry.image | length %}
                       <div class="large-item-box">
                           <figure>  
                                <img src="{{ entry.image.one().url }}" alt="{{ entry.image.one().title }}" class="img-fluid">
                            </figure>
                       </div>
                       {% endif %}
                   </div>
               </div>
           </div>
       </section>
       <section class="seasonal-availiablity-wrapper light-grey-bg">
           <div class="container">
               <div class="row align-items-center justify-content-center">
                   <div class="col-lg-6 col-md-8">
                       <div class="seasonal-availiablity-content text-center">
                           <h2>Seasonal Availability</h2>
                       </div>
                   </div>
               </div>
               <div class="seasonal-availiablity-list mt-4 mt-md-5">
                   <ul class="list-unstyled multi-steps">
                    {% for block in entry.seasonalAvailabilityList.type('availability') %}
                    <li class="{{ block.className }}">{{ block.month }}</li>
                     {% endfor %}  
                    
                  </ul>
               </div>
           </div>
       </section>
       <section class="know-more-wrapper blue-bg">
           <div class="container">
               <div class="row align-items-center justify-content-center">
                   <div class="col-lg-6 col-md-8">
                       <div class="know-more-content text-center">
                           <h2 class="text-white">Want to know more?</h2>
                           <a href="#" class="read-more mt-5 bg-white">Contact</a>
                       </div>
                   </div>
               </div>
           </div>
       </section>
    
{% endblock %}