{% extends "en/layout/_layout" %} 
{#{% set title = "Sea Food"|t('plugin-handle') %}#}
{% block content %} 

	<div class="section-header">
	  <div class="container">
	    <div class="section-header-content">
	      <h6><a href="{{ craft.app.sites.primarySite.baseUrl }}about-us">About Us</a>  |  {{ entry.title|raw }}</h6>
	      <h1>{{ entry.title|raw }}</h1>
	    </div>
	  </div>
	</div>
	<section class="history-wrapper grey-bg">
	  <div class="container">
	    <div class="row justify-content-center align-items-center">
	      <div class="col-lg-11">
	        <div class="row justify-content-between align-items-start align-items-xl-center">
	          <div class="col-xl-5 col-lg-6 order-2 order-lg-1 mb-4 mb-lg-0">
	            <div class="kiwi-product-content">
	              <h4 class="tk-rufina">{{ entry.aboutUsTitle|raw }}</h4>
	              {{ entry.description|raw }}
	            </div>
	          </div>
	          <div class="col-xl-6 col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
	            <div class="history-section-pic">
	            	{% set images = entry.imageMatrix.all() %}
		         		{% if images|length %}
			         		{% for image in images %}
		              <figure class="mb-5">
		                <img src="{{ image.imgmatrix.one().url }}" alt="{{ image.imgmatrix.one().title }}" class="img-fluid">
		              </figure>
		              {% endfor %}
	        			{% endif %}
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
    
{% endblock %}