html, body{

    font-family:"arboria";
    font-size: 16px;
    color: #2E3334;
    letter-spacing: 0px;
}
h1, h2, h3, h4, h5, h6{}
a:hover, a:active, a:focus, button:active, button:focus, textarea:active, textarea:focus, input:active, input:focus, select:active, select:focus{ outline: none; box-shadow: none; text-decoration: none;}
.read-more{
    background: #8bc53f;
    border-radius: 1px;
    text-align: center;
    color: #fff;
    display: inline-block;
    transition: 0.5s;
    font-size: 14px;
    text-transform: uppercase;
    padding: 16px 33px;
    font-weight: 500;
    border: none;
}
.read-more:hover{
    background-color: #000;
    color: #fff;
}
ul{
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
}

hr {
    margin-top: 39px;
    margin-bottom: 39px;
    border: 0;
    border-top: 2px solid #CECECE;
}

h1, h2, h3, h4, h5 {
    color: #004159;
    font-weight: 700;
}

h1{
    font-size: 60px;
    margin-bottom: 20px;
    font-family: "rufina",sans-serif;
}

h2 {
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 64px;
     font-family: "rufina",sans-serif;
}

h3 {
    font-size: 36px;
    margin-bottom: 20px;
}

h4{
    font-size: 28px;
    margin-bottom: 20px;
}

h6 {
    font-size: 14px;
    margin-bottom: 15px;
    color: #7fa0ac;
    line-height: 19px;
    text-transform: uppercase;
}

p {
    line-height: 24px;
    margin-bottom: 20px;
    color:#2E3334;
    font-weight: 400;
}

.grey-bg{
    background: #f2f5f6;
}
.light-grey-bg{
    background: #eee;
}

.blue-bg{
    background: #004159;
}

.no-border {
    border: none !important;
}

section {
    padding: 130px 0;
}


/* header css start */
header.site-header {
    background: #fff;
    position: sticky;
    top: 0;
    border-bottom:1px solid #F0F0F0;
    z-index: 9;
}

.sticky.site-header{
    background:#fff;
}
.custom-menu{
    position:unset;
}
.navbar-links {
    padding-bottom: 0;
    position:unset;
}
.navbar-brand {
    padding: 0;
    margin: 10px 0;
}
.navbar-brand img {
    max-width: 250px;
}

.navbar-nav>li {
    margin: 0 20px;
    border-bottom: 1px solid transparent;
}

.navbar-nav>li.menu-list-box{
    position:relative;
}
.navbar-nav>li:hover, .navbar-nav>li.active{
    border-bottom: 1px solid #8BC53F;
}
.navbar-nav li a {
    color: #2E3334;
    font-size: 15px;
    padding: 33px 0px;
    display: block;
    margin: 0;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
/*.sticky .navbar-nav li a{
    color: #2E3334;
}*/
.navbar-nav li a:hover, .navbar-nav li a:active{
    
}
.navbar-nav li.dropdownMenu div.menu-list {
    position: relative;
}
.navbar-nav li.dropdownMenu span.arrow {
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 8px;
    background: transparent;
    text-indent: -9999px;
    border-top: 2px solid #707070;
    border-left: 2px solid #707070;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    top: 38px;
    right: -15px;
}

.navbar-nav li.dropdownMenu span.arrow.down {
  transform: rotate(-135deg);
}

.navbar-nav>li.dropdownMenu:hover span.arrow {
  border-color: gray;
  transform:rotate(45deg);
  top: 42px;
}
.navbar-nav li.image-menu .sub-menu{
    width: 100%;
    padding: 15px;
}

.navbar-nav li.image-menu .sub-menu .image-list-box{
    display: flex;
    justify-content: flex-start;
    padding-left: 90px;
}
.navbar-nav li.image-menu .sub-menu .image-list{
    margin: 0 15px;
}
.navbar-nav li.image-menu .sub-menu .image-list a{
    padding: 0;
}
.navbar-nav li.image-menu .sub-menu .image-list a img {
    height: 150px;
    object-fit: cover;
    width: 300px;
}
.navbar-nav li.image-menu .sub-menu .image-list h3{
    font-size: 16px;
    margin: 5px 0 0;
    text-transform: capitalize;
}

.navbar-nav li .sub-menu {
    box-shadow: 0 0 2px #ccc;
    position: absolute;
    z-index: 999;
    background: #fff;
    padding: 10px 20px;
    transition: 0.5s;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    min-width: 200px;
    left: 0px;
    top: 100%;
}
.navbar-nav li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.navbar-nav li .sub-menu ul{
    flex-direction:column;
}

.navbar-nav li .sub-menu ul li a {
    color: #404040;
    padding: 6px 0;
    text-align: left;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.navbar-nav li .sub-menu ul li a:hover{
    border-bottom: none;
}
.plus-icon{
    display:none;
}

.header-country-wrapper {
    
}
.form-item {
    display: inline-block;
}

.header-country-wrapper select {
    height: 50px;
}

/* banner css start */


.banner {
    position: relative;
}
.banner:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    background: #000;
    opacity: .2;
    height: calc(100vh - 96px);
}

.banner img {
    height: calc(100vh - 96px);
    object-fit: cover;
}

.banner #myVideo {
    min-width: 100%; 
    min-height: 100%;
    height: calc(100vh - 96px);
    object-fit: cover;
    width: 100%;
}

.banner .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner .container .banner-caption{
    text-align: center;
}
.banner-caption h1 {
    color: #fff;
    margin-bottom: 25px;
    line-height: 80px;
}
.banner-caption p {
    color: rgba(255,255,255,0.7);
    font-size: 18px;
    line-height: 24px;
}

.section-header {
    padding: 40px 0 70px;
}

.section-header-content h6 {
    margin: 0 0 40px;
    color: #707070;   
    font-size: 13px;
    line-height: 17px;
    opacity: 0.6;
}
.section-header-content h6 a{
    color: #707070;
}
.section-header-content h1 {
    line-height: 80px;
}

figure.effect-oscar {
	position: relative;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

figure.effect-oscar img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	width: 100%;
	transition: 0.5s;
}
figure.effect-oscar:hover img {
    transform: scale(1.1);
}
figure.effect-oscar figcaption {
	padding: 2em;
	color: #fff;

}

figure.effect-oscar figcaption::before,
figure.effect-oscar figcaption::after {
	pointer-events: none;
}

figure.effect-oscar figcaption,
figure.effect-oscar figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure.effect-oscar figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure.effect-oscar h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

figure.effect-oscar h2 span {
	font-weight: 800;
}

figure.effect-oscar h2,
figure.effect-oscar p {
	margin: 0;
}

figure.effect-oscar p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-oscar {
}

figure.effect-oscar img {
}

figure.effect-oscar figcaption {
	padding: 3em;
	background-color: rgba(0,0,0,0.2);
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

figure.effect-oscar figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
}

figure.effect-oscar h3 {
    line-height: 48px;
}

figure.effect-oscar figcaption::before,
figure.effect-oscar h6 {
    text-decoration: underline;
}

figure.effect-oscar:hover h3 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover h6 {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	text-decoration: underline;
}

figure.effect-oscar:hover figcaption {
	background-color: rgba(0,0,0,0.5);
}

.seafood-item {
    position: relative;
}
.seafood-item img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.seafood-item span {
    font-size: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
}
.seafood-item span i {
    font-size: 25px;
}


/* about section css start */

.about-us{
    padding:120px 0 117px;
}

.section-content{
    padding: 29px 55px 39px 0;
    border-top: 2px solid #CECECE;
    border-bottom: 2px solid #CECECE;
}

.sustain-content{
    padding: 39px 55px 0px 0;
    border-top: 2px solid #CECECE;
}
.sustain-content p{
    line-height:21px;
}

.section-pic figure {
    margin: 0;
}
.section-content h2{
}
.section-content p{}

.section-pic img{
    height: 460px;
    object-fit: cover;
}

/* seafood section css start */

.our-seafood-wrapper{
    padding: 140px 0;
}

.seafood-page-wrapper{
    padding: 120px 0 155px;
}

.our-commercialBait-wrapper{
    padding:100px 0 120px;
}


/* best food section */

.best-food-wrapper{
    background-image: url(../images/best-food-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    z-index: 0;
}
.best-food-wrapper:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,65,89,0.75);
    top: 0;
    z-index: -1;
}
.best-food-wrapper h6{
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
}

.best-food-wrapper h2{
}


/*about us css start */
.partner-list {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
}

.team-mate-content{}
.team-mate-content h2{
    color: #8bc53f;
}

/* gallery css start */

.com-bait-content{}

.com-bait-content h4{
    font-size:20px;
    line-height:27px;
}

.com-bait-content h2{
    color: #8bc53f;
}

/* partner css start */

.our-partner-wrapper {
    padding: 120px 0 150px;
}

/* bait css start */
.bait-list-box h5{
    line-height:27px;
}
.bait-list{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    position:relative;
}

.bait-list img {
    height: 200px;
    object-fit: contain;
}

.bait-list .msc-img{
    position: absolute;
    bottom: 0;
    right: 10px;
}
.bait-list .msc-img img{
    width: 60px;
    height: auto;
}



/* recreational css start */

.recreational-bait-table{
    overflow-y: hidden;
    white-space: nowrap;
}

.recreational-bait-table td{
    font-size: 14px;
    line-height: 24px;
}
.recreational-bait-table th{
    width: auto;
}

.recreational-bait-table th span{
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #004159;
    font-weight: 400;
}

/* gallery css start */

.our-gallery-wrapper{
    padding:120px 0 140px;
}

/* history css start */

.history-wrapper{
    padding:116px 0 140px;
}

.history-section-pic {
    margin: 30px 0 0 0;
}
.history-section-pic img{}

/*snapper css start */

.our-snapper-wrapper {
    padding: 90px 0 80px;
}
.know-more-wrapper {
    padding: 113px 0 118px;
}

.seasonal-availiablity-wrapper {
    padding: 75px 0;
}

.large-item-detail{}
.large-item-detail h4{
    font-size: 24px;
    line-height: 32px;font-family: "rufina",sans-serif;
}
.large-item-detail h4 small {font-family: "rufina",sans-serif; color:#707070;}
.nutritional-list{
    display: flex;
    flex-wrap: wrap;
}
.nutritional-item{
    margin: 0 20px 0 0;
}

.nutritional-item h6{
    margin-bottom: -10px;color: #707070;
    opacity: 0.5;
}
.nutritional-item h2{
    color: #8bc53f;
}

.multi-steps > li.is-active ~ li:before, .multi-steps > li.is-active:before {
  content: '';
  font-weight: 700;
}

.multi-steps {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.multi-steps > li {
    text-align: center;
    display: table-cell;
    position: relative;
    color: #2E3334;
    font-size: 20px;
    line-height: 27px;
}
.multi-steps > li span.circle {

  display: block;
  margin: 0 auto 4px;
  width: 26px;
  height: 26px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
}
/*.multi-steps > li.blue-bullet:before{
    background: #004159;
}
.multi-steps > li.green-bullet:before{
    background: #8bc53f;
}*/
.multi-steps > li span.line{
  height: 2px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 12px;
  left: 60%;
}
.multi-steps > li:last-of-type span.line {
  display: none !important;
}
.multi-steps > li.is-active:before {
  background-color: #fff;
  border-color: tomato;
}
/*.multi-steps > li.is-active ~ li {
  color: #808080;
}*/
.know-more-content{}
.know-more-content a{
    color: #004159;
}


/* contact css start */

.our-contact-wrapper{
    padding:120px 0;
}

.contact-address-wrapper{
    border-top: 1px solid #CECECE;
    padding: 17px 0 16px;
}
.contact-address-wrapper:last-child {
    border-bottom: 1px solid #CECECE;
}
.contact-address-wrapper h5{
    font-size: 24px;
    line-height: 32px;
}
.contact-address-wrapper a{
    color: #2E3334;
    font-size: 30px;
    line-height: 24px;
}

.contact-address-wrapper p{
    font-size: 30px;
    line-height: 40px;
}

.contact-form-wrapper{
    border-top: 1px solid #CECECE;
    padding: 17px 0 16px;
}
.contact-form-wrapper h5{
    font-size: 24px;
    line-height: 32px;
}

.contact-form-wrapper form-group{
    margin-bottom: 19px;
}

.contact-form-wrapper label{
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}
.contact-form-wrapper input{
    border: none;
    height: 50px;
}
.contact-form-wrapper textarea{
    border: none;
}
.contact-form-wrapper button{
    height: 53px;
    line-height: 53px;
}


/* our team css start */

.our-team-wrapper{
    padding:120px 0;
}

.team-person-detail{}

.team-person-detail .team-content{
    min-height: 100px;
}
.team-person-detail h5{
	line-height: 27px;
	font-family: "rufina",sans-serif;
}
.team-person-detail span{
	color: #8bc53f;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
    line-height: 20px;
}
.team-person-detail p{
	font-size: 15px;
    line-height: 20px;
}
.team-person-info{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    min-height: 120px;
    max-height: 120px;
}
.team-person-info ul{
    flex-direction: column;
}
.team-person-info ul li{
	margin: 0 0 5px;
	font-size: 14px;
    line-height: 19px;
}
.team-person-info ul li:last-child {
    margin: 0;
}
.team-person-info ul li p{
	margin-bottom: 0px;
	font-size: 14px;
    line-height: 19px;
}
.team-person-info ul li a{
	color: #707070;
	letter-spacing: 0px;
	display: block;
}

.partner-range h4{
    font-size:28px;
    line-height:37px;
}

/* partners css start */

.custom-partner-container{
    padding: 116px 0 105px;
}


/* open seas css start */

.open-seas-wrapper{
    position:relative;
    background-image: url(../images/open-seas.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
}
.open-seas-wrapper:before{
    content: '';
    background: #07303F;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.open-seas-content {
    text-align: center;
}

/* solution css start */

.cargo-solution-wrapper{
    padding:80px 0 120px;
}

.temprature-list-box{}
.temprature-list-box .temprature-list{
	background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 260px;
}

.team-monitoring-content{}
.team-monitoring-content h4{
    margin: 0 0 30px;
    line-height: 37px;
}

.temprature-list-box h5{
	line-height: 27px;
	margin: 17px 0;
}

.find-out-btn{
    border-radius: 1px;
    text-align: center;
    color: #8bc53f;
    display: inline-block;
    transition: 0.5s;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 14px 33px 13px;
    border: 1px solid #8bc53f;
}

.kiwi-product-content{}
.kiwi-product-content h4{
    line-height:37px;
}


.custom-footer{
    background: #00162c;
    padding: 80px 0 58px;
}
.footer-top-wrapper{
    margin-bottom: 40px;
}
.footer-logo{}
.footer-logo img{
    margin: 0 0 22px;
}
.footer-logo p{
    color: rgba(255,255,255,0.8);
    line-height: 21px;
    width: 260px;
}
.footer-logo ul{
    margin: 40px 0 0;
}
.footer-logo ul li{
    margin: 0 12px 0 0;
}
.footer-logo ul li a{
	color: #fff;
	display: block;
}
.footer-logo ul li span{
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    display: inline-block;
    line-height: 44px;
    text-align: center;
    border-radius: 100%;
}
.footer-bottom-wrapper{
    color: rgba(255,255,255,0.5);
}
.footer-bottom-wrapper span{
    line-height: 19px;
    font-size: 14px;
}
.footer-bottom-wrapper a{
    color: rgba(255,255,255,0.5);
    text-decoration: underline;
}
.footer-links{}
.footer-links h6{
    color: rgba(255,255,255,0.5);
    margin: 0 0 25px;
}
.footer-links ul{
    flex-direction: column;
}
.footer-links ul li{
    color: #fff;
    margin: 0 0 10px 0;
    line-height: 21px;
}
.footer-links ul li a{
    color: #fff;
}
.footer-links ul li a:hover{
	color: rgba(255,255,255,0.7);
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #94d483;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #94d483;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #94d483;
}
:-moz-placeholder { /* Firefox 18- */
  color: #94d483;
}
.footer-logo ul {
    margin: 40px 0 40px;
}

ul.seasonal-availiablity-item {
     display: flex;
    justify-content: center;
    align-items: center;flex-wrap: wrap;
    margin: 50px 0 0;
}
ul.seasonal-availiablity-item li {
   padding-right: 30px;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 25px;
}
ul.seasonal-availiablity-item li span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
  
    border-radius: 50%;
    margin-top: -5px;
}
.peakseason span {  background: #8bc53f;}
.available span{  background: #004159;}
.out-of-season span {  background: #fff;}

.sticky header.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99;
}
