/*Extra large devices (large desktops, 1500px and up)*/


@media (min-width: 1700px) {
    .container {
        max-width: 1600px;
    }
}

@media (max-width: 1699px) {
    .container {
        max-width: 1440px;
    }
    .nutritional-item h6 {
        margin-bottom: 0;
    }
	.map-wrapper iframe {
    	width: 100%;
	}
	.country-select .country-list {
        left: auto;
        right: -10px;
    }
    .navbar-nav li.image-menu .sub-menu .image-list-box {
        padding-left: 0;
    }
    .team-person-info {
        flex-wrap: unset;
    }
    .team-person-info ul {
        width: 50%;
    }
    .team-person-info ul li a {
        word-break: break-all;
    }
    .team-person-detail .team-content {
        min-height: 110px;
    }
}

@media (max-width: 1439px) {
    .container {
        max-width: 1350px;
    }
	.team-person-info ul {
		flex-basis: 100%;
	}
	.nutritional-item h2 {
        font-size: 30px;
    }
    .multi-steps > li span.line {
        left: 65%;
    }
}


@media (max-width: 1366px) {
    .navbar-nav>li {
        margin: 0 15px;
    }
    .navbar-nav li a {
        font-size: 14px;
        letter-spacing: 0px;
    }
    .banner-caption h1 {
        font-size: 40px;
        line-height: 60px;
    }
    .banner .container {
        padding-top: 0px;
    }
    section {
        padding: 80px 0;
    }
    hr{
        display: none;
    }
    .custom-footer hr { display: block;}
    h2 {
        font-size: 35px;
        line-height: 45px;
    }
    h3 {
        font-size: 25px;
        line-height: 30px;
    }
    .seafood-item .seafood-item-name h3 {
        line-height: 30px;
    }
    
    .section-pic img {
        height: auto;
    }
    
}

@media (max-width: 1200px) {
    .header-country-wrapper a{
        display:none;
    }
    .header-country-wrapper select{
        width: 100% !important;
    }
    h2 {
        font-size: 28px;
        line-height: 33px;
    }
    .seafood-page-wrapper {
        padding: 80px 0;
    }
    .our-partner-wrapper {
        padding: 80px 0;
    }
    .section-header {
        padding: 30px 0;
    }
    .section-header-content h1 {
        line-height: 50px;
        font-size: 40px;
    }
    .section-header-content h6 {
        margin: 0 0 20px;
    }
    .our-commercialBait-wrapper{
        padding:80px 0;
    }
    .our-snapper-wrapper {
        padding: 80px 0;
    }

    .seasonal-availiablity-wrapper {
        padding: 60px 0;
    }
    
    .know-more-wrapper {
        padding: 80px 0;
    }
    .cargo-solution-wrapper{
        padding:80px 0;
    }
    .our-gallery-wrapper{
        padding:80px 0;
    }
    .about-us{
        padding:80px 0;
    }
    .our-team-wrapper{
        padding:80px 0;
    }
    .custom-partner-container{
        padding:80px 0;
    }
    .history-wrapper {
        padding: 80px 0;
    }
    .our-contact-wrapper{
        padding:80px 0;
    }
    .team-person-info {
        flex-wrap: wrap;
    }
    .team-person-detail .team-content {
        min-height: 130px;
    }
    
    .team-person-info {
        min-height: 0;
        max-height: unset;
    }
    
}



/*All Small devices */
@media (max-width: 991.99px) {
	header.site-header {
		padding: 15px 0;
	}
    
    .navbar-nav {
        background: #fff;
    }
    .navbar-nav li a {
        padding: 10px 0;
        font-size: 16px;
        display: inline-block;
    }

    .navbar-nav li a:hover, .navbar-nav li a:active {
        background: none;
    }
    .navbar-nav li.dropdownMenu span.arrow {
        top: 18px;
        right: 10px;
    }
	section {
    	padding: 50px 0;
	}
    .header-country-wrapper select {
        width: 50% !important;
    }
    .navbar {
        padding: 0; 
    }
    .section-pic img {
        width: 100%;
    }

    .navbar {
        padding: 0;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        margin-top: 0;
        box-shadow: 0 0 4px #eee;
    }
    .navbar-nav li .sub-menu {
        position: static;
        visibility: visible;
        opacity: 1;
        transform: none;
        display: none;
        border: none;
    }
    .navbar-nav li:hover .sub-menu {
        display: block;
    }
    
    .plus-icon{
        display:block;
    }
    .history-section-pic img {
        width: 100%;
    }
    .multi-steps > li:after {
        left: 64%;
    }
    .form-item {
        display: block;
        margin: 0 0 10px;
    }
    .country-select {
        display: block;
    }
    .country-select.inside input, .country-select.inside input[type=text] {
        width: 100%;
        font-size: 0;
    }
    .country-select .country-list {
        left: 0;
        right: auto;
        width: 100% !important;
        max-width: unset;
    }
    .country-select.inside .flag-dropdown {
        width: 100%;
    }
    .country-select.inside .selected-flag {
        width: 100%;
    }
    
    .navbar-nav>li {
        border-bottom: 1px solid #eee;
        padding: 15px 0;
    }
    .navbar-nav>li:hover {
        border-bottom: 1px solid #eee;
    }
    .navbar-nav li a.read-more {
        margin: 0 0 10px;
        line-height: 16px;
        height: auto;
        color: #fff;
        padding: 17px;
        width: 100%;
    }
    .navbar-nav li.image-menu .sub-menu .image-list-box {
        flex-direction: column;
    }
    .navbar-nav li.image-menu .sub-menu .image-list a{
        display:block;
    }
    .navbar-nav li.image-menu .sub-menu .image-list a img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .navbar-nav li.image-menu .sub-menu .image-list {
        margin: 0 0 14px;
    }
    .navbar-nav li.image-menu .sub-menu {
        padding: 15px 0;
    }
    
    span.back-btn {
        float: right;
        color: #8bc53f;
        margin: 10px 0 0;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .multi-steps {
        display: flex;
        table-layout: unset;
        flex-direction: column;
    }
    .multi-steps > li {
        display: unset;
        margin: 0 0 20px;
        text-transform: capitalize;
    }
    .multi-steps > li span.line {
        height: 50px;
        width: 2px;
        top: 26px;
        left: 50%;
    }
    .multi-steps > li strong {
        position: absolute;
        top: -2px;
        left: 55%;
    }
    
    ul.seasonal-availiablity-item {
        flex-direction: column;
    }
    ul.seasonal-availiablity-item li {
        padding-right: 0;
        width: 200px;
    }
    
    .navbar-toggler .bar1, .navbar-toggler .bar2, .navbar-toggler .bar3 {
      width: 20px;
      height: 3px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }
    
    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-5px, 6px);
      transform: rotate(-45deg) translate(-5px, 6px);
      background: #8bc53f;
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-6px, -8px);
      transform: rotate(45deg) translate(-6px, -8px);
      background: #8bc53f;
    }
    
    .navbar-nav li span.plus-icon{
        float:right;
        color: #8bc53f;
        margin: 8px 0 0;
        font-size: 14px;
    }
    .team-person-info ul li a {
        word-break: unset;
    }
    .seasonal-availiablity-list {
        max-width: 500px;
        margin: 0 auto;
    }
    .navbar-nav li .sub-menu {
        box-shadow: none;
    }
    
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px) {
    .navbar-nav {
        height: 87vh;
        overflow: auto;
    }
    .banner img {
        height: 350px;
        object-fit: cover;
    }
    .banner-caption h1 {
        font-size: 30px;
        line-height: 40px;
    }
    br{
        display: none;
    }
    .header-country-wrapper select {
        height: 36px;
    }
    .header-country-wrapper select {
        width: 62% !important;
    }
    .about-us {
        padding: 40px 0;
    }
    .group-wrap img {
        width: 100%;
    }
    
    .navbar-nav li.image-menu .sub-menu .image-list a {
        display: block;
    }
    .team-person-detail .team-content {
        min-height: 110px;
    }
    
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 574.98px) {
    .footer-bottom-wrapper {
        flex-direction: column;
    }
    .footer-bottom-wrapper span {
        margin: 0 0 10px;
    }
    .custom-footer {
        background: #00162c;
        padding: 60px 0 60px;
    }
    .seafood-item img {
        width: 100%;
    }
    .best-food-wrapper h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .section-header-content h1{
        line-height: 40px;
        font-size: 30px;
    }
    h1 {
        font-size: 45px;
    }
	.contact-address-wrapper p {
		font-size: 20px;
		line-height: 30px;
	}
	.contact-address-wrapper a {
		font-size: 20px;
	}
    .team-mate-content a.read-more {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
	figure.effect-oscar h3 {
    	margin: 0 0 10px 0;
	}
	
	.team-mate-content h4 {
        font-size: 22px;
        line-height: 30px;
    }
    
    .com-bait-content h4{
        font-size: 22px;
        line-height: 30px;
    }
    
    .multi-steps > li strong {
        left: 57%;
    }
    
    .navbar-nav li.image-menu .sub-menu {
        min-width: 0;
    }
    .navbar-nav li.image-menu .sub-menu .image-list a img {
        height: 150px;
    }
    .team-person-detail .team-content {
        min-height: auto;
    }
}

@media (max-width: 440px) {
    .banner-caption h1 {
        font-size: 24px;
        line-height: 34px;
    }
    
    .section-header-content h1{
        line-height: 45px;
    }
    h1 {
        font-size: 35px;
    }
}

@media (max-width: 360px) {
    
}