{% extends "ch/layout/_layout" %} 
{#{% set title = "Our Team"|t('plugin-handle') %}#}
{% block content %} 

  <div class="section-header">
	  <div class="container">
	    <div class="section-header-content">
	      <h6><a href="{{ craft.app.sites.primarySite.baseUrl }}ch/about-us">关于我们</a>   |  {{ entry.title }}</h6>
	      <h1>{{ entry.title }}</h1>
	    </div>
	  </div>
	</div>
	<section class="our-team-wrapper grey-bg">
	  <div class="container">
	    <div class="row">
	    	{% set teamListings = craft.entries.section('teamListing').orderBy('postDate desc').limit(null).all() %}
        {% if teamListings|length %}
          {% for teamListing in teamListings %}
			      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
			        <div class="team-list-box">
			          <!-- <a href="#"> -->
			            <span class="team-list">
			              <figure>  
			                <img src="{{ teamListing.image.one().url }}" alt="{{ teamListing.image.one().title }}" class="img-fluid w-100">
			              </figure>
			            </span>
			          <!-- </a> -->
			          <div class="team-person-detail">
			            <h5 class="mt-3">{{ teamListing.title }}</h5>
			            <span>{{ teamListing.fatTitle }}</span>
			            <p>{{ teamListing.heading }}</p>
			            <div class="team-person-info">
			            	{{ teamListing.description }}
			            	{{ teamListing.ourBaitsDescription }}
			            </div>
			          </div>
			        </div>
			      </div>
			    {% endfor %}
        {% endif %}
	    </div>
	  </div>
	</section>
    
{% endblock %}