{% extends "ch/layout/_layout" %} 
{#{% set title = "Gallery"|t('plugin-handle') %}#}
{% block content %} 

	<div class="section-header">
	  <div class="container">
	    <div class="section-header-content">
	      <h6>{{ entry.title }}</h6>
	      <h1>{{ entry.title }}</h1>
	    </div>
	  </div>
	</div>
	<section class="our-gallery-wrapper grey-bg">
	  <div class="container">
	    <div class="row group-wrap">
	    	{% set images = entry.imageMatrix.all() %}
     		{% if images|length %}
       		{% for image in images %}
			      <div class="col-lg-4 col-md-6 mb-3">
			        <a data-fancybox="gallery" href="{{ image.imgmatrix.one().url }}" class="">
			          <div class="seafood-item">
			            <figure> 
			              <img src="{{ image.imgmatrix.one().url }}" alt="{{ image.imgmatrix.one().title }}" class="img-fluid">
			            </figure>
			          </div>
			        </a>
			      </div>
			    {% endfor %}
	      {% endif %}
	    </div>
	  </div>
	</section>
    
{% endblock %}