{% extends "ch/layout/_layout" %} 
{#{% set title = "Sustainability"|t('plugin-handle') %}#}
{% block content %} 
	
	<div class="section-header">
	  <div class="container">
	    <div class="section-header-content">
	      <h6>{{ entry.title }}</h6>
	      <h1>{{ entry.title }}</h1>
	      {{ entry.description }}
	    </div>
	  </div>
	</div>
	{% set sustainMatrixs = entry.sustainMatrix.all() %}
	{% if sustainMatrixs|length %}
		{% for sustainMatrix in sustainMatrixs %}
			{% set num = loop.index %}
			{% set light = 'light-' %}
			<section class="about-us {% if num is even %}{{light}}{% endif %}grey-bg">
			  <div class="container">
			    <div class="row justify-content-center align-items-center">
			    	{% if num is odd %}
				      <div class="col-lg-11">
				        <div class="row justify-content-between align-items-center">
				          <div class="col-xl-5 col-lg-6 order-2 order-lg-1 mb-4 mb-lg-0">
				            <div class="section-content">
				              <h6>{{ sustainMatrix.ctitle }}</h6>
				              <h2>{{ sustainMatrix.cheading }}</h2>
				              {{ sustainMatrix.cdescription }}
				            </div>
				          </div>					          
				          <div class="col-xl-6 col-lg-6 order-1 order-lg-2">
				            <div class="sustain-section-pic">
				              <figure>
				                <img src="{{ sustainMatrix.cimage.one().url }}" alt="{{ sustainMatrix.cimage.one().title }}" class="img-fluid">
				              </figure>
				            </div>
				          </div>
				        </div>
				      </div>
				    {% endif %}

				    {% if num is even %}
					    <div class="col-lg-11">
				        <div class="row justify-content-between align-items-center">
				          <div class="col-xl-6 col-lg-6">
				            <div class="sustain-section-pic">
				              <figure>
				                <img src="{{ sustainMatrix.cimage.one().url }}" alt="{{ sustainMatrix.cimage.one().title }}" class="img-fluid">
				              </figure>
				            </div>
				          </div>
				          <div class="col-xl-5 col-lg-6 mb-4 mb-lg-0">
				            <div class="section-content">
				              <h6>{{ sustainMatrix.ctitle }}</h6>
				              <h2>{{ sustainMatrix.cheading }}</h2>
				              {{ sustainMatrix.cdescription }}
				            </div>
				          </div>
				        </div>
				      </div>
				    {% endif %}

			    </div>
			  </div>
			</section>
		{% endfor %}
  {% endif %}
  {% set bgImg = entry.image.one().url ?? null %}
	<section class="open-seas-wrapper" style="background-image: url({{bgImg}});">
	  <div class="container">
	    <div class="row align-items-center justify-content-center">
	      <div class="col-xl-6 col-lg-8 col-md-7">
	        <div class="open-seas-content">
	          <h6>{{ entry.aboutUsTitle }}</h6>
	          <h2 class="text-white">{{ entry.buttonText }}</h2>
	          <p class="text-white">{{ entry.contactTitle }}</p>
	          {% set readmorelink = entry.recationalurl %}
	          <a href="{{ readmorelink }}" class="read-more">{{ entry.aboutUsButton }}</a>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>    
 
{% endblock %}