{% extends "en/layout/_layout" %} 
{#{% set title = "Recreational Bait"|t('plugin-handle') %}#}
{% block content %} 

	<div class="section-header">
	  <div class="container">
	    <div class="section-header-content">
	      <h6><a href="{{ craft.app.sites.primarySite.baseUrl }}bait">Bait</a>  |  {{ entry.title|raw }}</h6>
	      <h1 class="tk-rufina">{{ entry.title|raw }}</h1>
	    </div>
	  </div>
	</div>
	<section class="our-commercialBait-wrapper grey-bg">
	  <div class="container">
	    <div class="row align-items-center justify-content-center mb-5">
	      <div class="col-lg-8 col-md-10">
	        <div class="team-mate-content text-center">
	          <h4>{{ entry.aboutUsTitle|raw }}</h4>
	          {{ entry.description|raw }}
	          {% set pdfURL = entry.pdfurl.one().getUrl() %}
	          <a href="{{ pdfURL }}" class="read-more mr-3 px-4" target="_blank">
	          <img style="vertical-align: text-bottom;" 
	            src="{{ craft.app.sites.primarySite.baseUrl }}assets/images/down-arrow.png" alt="down-arrow" class="img-fluid mr-2"> {{ entry.aboutUsButton|raw }}</a>
	            {% set wholesalelink = entry.recationalurl ?? null %}
	          <a href="{{ wholesalelink }}" class="read-more px-4">{{ entry.buttonText|raw }}</a>
	        </div>
	      </div>
	    </div>
	    <div class="row align-items-center justify-content-center">
	      <div class="col-lg-10 col-md-8">
	        <div class="recreational-bait-table table-responsive">
	          <table class="table table-bordered bg-white">
	            <thead>
	              <tr>
	              	{% set tHeads = entry.tableHeader.all() %}
			         		{% if tHeads|length %}
				         		{% for tHead in tHeads %}
	                		<th class="grey-bg no-border" scope="col"><span>{{ tHead.tableBodyTitle }}</span></th>
	                	{% endfor %}
        					{% endif %}
	              </tr>
	            </thead>
	            <tbody>
	            	{% set recreationalBaitMatrixs = entry.recreationalBaitMatrix.all() %}
		         		{% if recreationalBaitMatrixs|length %}
			         		{% for tableMatrix in recreationalBaitMatrixs %}
			              <tr>
			                <th class="blue-bg text-white" scope="row" colspan="4">{{ tableMatrix.tableTitle }}</th>
			              </tr>
			              {% set tblRowDatas = tableMatrix.recreationalDataTable %}
				         		{% if tblRowDatas|length %}
					         		{% for tblRowData in tblRowDatas %}
					              <tr>
					                <td scope="row">{{ tblRowData.code}}</td>
					                <td>{{ tblRowData.description}}</td>
					                <td>{{ tblRowData.brand}}</td>
					                <td>{{ tblRowData.unitsPerCarton}}</td>
					              </tr>
				              {% endfor %}
        						{% endif %}
        						<tr>
			                <th class="grey-bg no-border" style="height: 10px" scope="row" colspan="4"></th>
			              </tr>
	              	{% endfor %}
        				{% endif %}
	            </tbody>
	          </table>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
    
{% endblock %}