{% extends "ch/layout/_layout" %} 
{% set title = "404"|t('plugin-handle') %}
{% block content %} 

  <div class="section-header py-5">
    <div class="container">
      <div class="section-header-content">
        <h1 class="mb-3 mb-md-4">四百〇四</h1><h2>找不到网页！！</h2>
        </div>
     </div>
  </div>
    
{% endblock %}