{% extends "ch/layout/_layout" %} 
{#{% set title = "Our Partners"|t('plugin-handle') %}#}
{% block content %} 

  <div class="section-header">
	  <div class="container">
	    <div class="section-header-content">
	      <h6><a href="{{ craft.app.sites.primarySite.baseUrl }}ch/about-us">关于我们</a>   |  {{ entry.title|raw }}</h6>
	      <h1>{{ entry.title|raw }}</h1>
	    </div>
	  </div>
	</div>
	<section class="custom-partner-container grey-bg">
	  <div class="container">
	    <div class="mb-3 mb-lg-5 text-center">
	      <h4>{{ entry.aboutUsTitle|raw }}</h4>
	    </div>
	    <div class="row">
	    	{% set partnersListings = craft.entries.section('partnersListing').orderBy('postDate desc').limit(null).all() %}
        {% if partnersListings|length %}
          {% for partnersListing in partnersListings %}
			      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
			        <div class="partner-list">
			          <figure>
			            <!-- <a href="#">  -->  
			            <img src="{{ partnersListing.image.one().getUrl() }}" alt="{{ partnersListing.image.one().title }}" class="img-fluid">
			            <!-- </a> -->
			          </figure>
			        </div>
			      </div>
			     {% endfor %}
        {% endif %}
	    </div>
	  </div>
	</section>
    
    
{% endblock %}