{% extends "en/layout/_layout" %} 
{% set title = "404"|t('plugin-handle') %}
{% block content %} 

  <div class="section-header py-5">
    <div class="container">
      <div class="section-header-content">
        <h1 class="mb-3 mb-md-4">404</h1><h2>Page Not Found!!</h2>
        </div>
     </div>
  </div>
    
{% endblock %}