{% extends "en/layout/_layout" %} 
{#{% set title = "Home"|t('plugin-handle') %}#}
{% block content %} 

  <div class="banner">
    <!--{% if entry.image| length %}
      <img src="{{ entry.image.one().url }}" alt="{{ entry.image.one().title }}" class="img-fluid w-100">
    {% endif %}-->
    
            {% set file = entry.image.one() %}
            {% if entry.image | length %}
            {% switch file.kind %}
                {% case "image" %}
                    <img src="{{ entry.image.one().url }}" alt="{{ entry.image.one().title }}" class="img-fluid w-100">
                        {% case "video" %}
                            <video autoplay muted loop id="myVideo">
                                <source src="{{ entry.image.one().url }}" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video>
            {% endswitch %}
            {% endif %}
    <div class="container">
      <div class="banner-caption">
        <p>{{ entry.topTitle|raw }}</p>
        <h1>{{ entry.mainTitle|raw }} <br> {{ entry.subTitle|raw }}</h1>
        {% set readmorelink = entry.buttonUrl.one().slug ?? null %}
        <a href="{{ readmorelink }}" class="read-more">{{ entry.buttonText|raw }}</a>
      </div>
    </div>
  </div>

  <section class="about-us">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-11">
          <div class="row justify-content-between align-items-center">
            <div class="col-xl-5 col-lg-6 order-2 order-lg-1">
              <div class="section-content">
                <h6>{{ entry.aboutUsTitle|raw }}</h6>
                <h2>{{ entry.heading|raw }}</h2>
                <p>{{ entry.description|raw }} </p>
                {% set readmorelink = entry.aboutUsButtonLink.one().slug ?? null %}
                <a href="{{ readmorelink }}" class="read-more">{{ entry.aboutUsButton|raw }} </a>
              </div>
            </div>
            {% if entry.aboutusImage | length %}
              <div class="col-xl-6 col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
                <div class="section-pic">
                  <figure>
                    <img src="{{ entry.aboutusImage.one().url }}" alt="{{ entry.aboutusImage.one().title }}" class="img-fluid">
                  </figure>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-seafood-wrapper grey-bg">
    <div class="container">
      <hr class="mt-0" style="border-color: #CECECE;">
      <div class="d-flex mb-3 mb-lg-5 align-items-center justify-content-between">
        <h2>{{ entry.ourSeafoodTitle|raw }}</h2> 
        {% set readmorelink = entry.ourSeaFoodButtonLink.one().slug ?? null %}
        <a href="{{ readmorelink }}" class="read-more d-none d-md-inline-block">{{ entry.ourSeaFoodButton|raw }}</a>
      </div>
      <div class="row">
        {# {% set ourSeaFoods = craft.entries.section('seaFoods').orderBy('postDate desc').limit(3).all() %} #}
        {% set ourSeaFoods = entry.seafoodListing.all() %}
        {% if ourSeaFoods|length %}
          {% for ourSeaFood in ourSeaFoods %}
            <div class="col-lg-4 col-sm-6">
              <figure class="effect-oscar">
                <img src="{{ ourSeaFood.seaFoodImage.one().url }}" alt="{{ ourSeaFood.seaFoodImage.one().title }}" class="img-fluid"/>
                <figcaption>
                  <h3 class="text-white">{{ ourSeaFood.seaFoodTitle }}</h3>
                  <h6 class="text-white">{{ ourSeaFood.browseText }}</h6>
                  {% set learnmorelink = ourSeaFood.links.one().slug ?? null %}
                  <a href="{{ learnmorelink }}">View more</a>
                </figcaption>     
              </figure>               
            </div>
          {% endfor %}
        {% endif %}
                         
      </div>
      <div class="view-all d-block d-md-none text-right">
        {% set readmorelink = entry.ourSeaFoodButtonLink.one().slug ?? null %}
        <a href="{{ readmorelink }}" class="read-more mt-0">{{ entry.ourSeaFoodButton|raw }}</a>
      </div>
    </div>
  </section>

  {% set missionbgImg = entry.ourMisssionBanner.one().url ?? null %}
  <style type="text/css">
    .best-food-wrapper h2{
      color: #fff!important;
      text-align: center!important;
    }
  </style>
  <section class="best-food-wrapper" style="background-image: url( {{missionbgImg}} );">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-11">
          <h6 class="text-center">{{ entry.ourMissionTitle }}</h6>
          <hr>
          {{ entry.ourMissionDescription|raw }}
           <hr>
        </div>
      </div>
    </div>
  </section>

  <section class="sustain-wrapper grey-bg">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-11">
          <div class="row justify-content-between align-items-center">
            {% if entry.sustainabilityImage | length %}
              <div class="col-xl-6 col-lg-6 mb-4 mb-lg-0">
                <div class="section-pic">
                <figure>
                  <img src="{{ entry.sustainabilityImage.one().url }}" alt="{{ entry.sustainabilityImage.one().title }}" class="img-fluid">
                </figure>
                </div>
              </div>
            {% endif %}
            <div class="col-xl-5 col-lg-6">
              <div class="section-content">
              <h6>{{ entry.sustabiltyTitle|raw }}</h6>
              <h2>{{ entry.sustainabilityBottomTitle|raw }}</h2>
              {{ entry.sustainabilityBottomDescription|raw }}
              {% set learnmorelink = entry.learnMoreUrl.one().slug ?? null %}
              <a href="{{ learnmorelink }}" class="read-more">{{ entry.learnMoreText|raw }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="baits-wrappers">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-11">
          <div class="row justify-content-between align-items-center">
            <div class="col-xl-5 col-lg-6 order-2 order-lg-1">
              <div class="section-content">
                <h6>{{ entry.ourBaitsTitle|raw }}</h6>
                <h2>{{ entry.snapperTitle|raw }}</h2>
                {{ entry.ourBaitsDescription|raw }}
                {% set readmorelink = entry.ourBaitsButtonUrl.one().slug ?? null %}
                <a href="{{ readmorelink }}" class="read-more">{{ entry.ourBaitsButtonText|raw }}</a>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
              <div class="section-pic">
              <figure>
                {% set imgsrc = entry.ourBaitsImage.one().url ?? null %}
                {% set imgalt = entry.ourBaitsImage.one().url ?? null %}
              <img src="{{ imgsrc }}" alt="{{ imgalt }}" class="img-fluid">
              </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    
    
{% endblock %}