{% extends "ch/layout/_layout" %} 
{#{% set title = "Our Seafood"|t('plugin-handle') %}#}
{% block content %} 

	<div class="section-header py-5">
 		<div class="container">
     	<div class="section-header-content">
       	<h6 class="mb-3 mb-md-4">{{ entry.aboutUsTitle|raw }}</h6>
       	<h1>{{ entry.title|raw }}</h1>
     	</div>
  	</div>
	</div>
  <section class="our-seafood-wrapper grey-bg">
 		<div class="container">
     	<div class="row">
     	{# {% set ourSeaFoods = craft.entries.section('seaFoods').orderBy('postDate desc').limit(3).all() %} #}
     	{% set ourSeaFoods = entry.seafoodListing.all() %}
        {% if ourSeaFoods|length %}
          {% for ourSeaFood in ourSeaFoods %}
		        <div class="col-lg-4 col-sm-6">
              <figure class="effect-oscar">
                <img src="{{ ourSeaFood.seaFoodImage.one().getUrl() }}" alt="{{ ourSeaFood.seaFoodImage.one().title }}" class="img-fluid"/>
                <figcaption>
                  <h3 class="text-white">{{ ourSeaFood.seaFoodTitle }}</h3>
                  <h6 class="text-white">{{ ourSeaFood.browseText }}</h6>
                  {% set viewmorelink = ourSeaFood.links.one().slug ?? null %}
                  <a href="{{ craft.app.sites.primarySite.baseUrl }}ch/{{ viewmorelink }}">View more</a>
                </figcaption>     
              </figure>               
            </div>
		       {% endfor %}
        {% endif %}                            
	    </div>
	  </div>
	</section>
    
{% endblock %}