{% extends "en/layout/_layout" %} 
{#{% set title = "Our Seafood"|t('plugin-handle') %}#}
{% block content %} 

	<div class="section-header py-5">
	  <div class="container">
	    <div class="section-header-content">
	         <h6 class="mb-3 mb-md-4">我们的海鲜  |  {{ entry.title|raw }}  |  {{ entry.mainHeadings|raw }}</h6>
	         <h1 class="tk-rufina">{{ entry.mainHeadings|raw }}</h1>
	      </div>
	   </div>
	</div>
	<section class="our-snapper-wrapper grey-bg">
	  <div class="container">
	    <div class="row">
	      <div class="col-xl-4 col-lg-6 col-md-6 order-2 order-md-1">
	        <div class="large-item-detail">
	          <hr>
	          <h4>{{ entry.snapperTitle|raw }}</h4>
	          {{ entry.description|raw }}
	        	<hr>
	        </div>
	        <div class="large-item-detail">
	          <h4>{{ entry.heading|raw }} <small>({{ entry.subTitle|raw }})</small></h4>
            <div class="nutritional-list">
              <div class="nutritional-item">
                <h6>{{ entry.buttonText|raw }}</h6>
                <h2>{{ entry.proteinValue|raw }}</h2>
              </div>
            	<div class="nutritional-item">
                <h6>{{ entry.aboutUsTitle|raw }}</h6>
                <h2>{{ entry.energyValue|raw }}</h2>
              </div>
              <div class="nutritional-item">
                <h6>{{ entry.fatTitle|raw }}</h6>
                <h2>{{ entry.fatValue|raw }}</h2>
              </div>
            </div>
            <hr>
          </div>
	          <div class="large-item-detail">
	            <h4>{{ entry.mainTitle|raw }}</h4>
	            {% set mapsImg = entry.mapsImage.one() %}
	         	{% if mapsImg|length %}
	            <figure>  
	              <img src="{{ mapsImg.url }}" alt="{{ mapsImg.title }}" class="img-fluid">
	            </figure>
	            {% endif %}
	            {% set readmorelink = entry.aboutUsButtonLink.one().slug ?? null %}
	            <a href="{{ craft.app.sites.primarySite.baseUrl }}ch/{{ readmorelink }}" class="read-more mt-5">{{ entry.topTitle|raw }}</a>
	          </div>
	        </div>
	         	<div class="col-xl-7 col-lg-6 col-md-6 offset-xl-1 order-1 order-md-2">
	            <div class="large-item-box">
	              <figure>  
	                <img src="{{ entry.aboutusImage.one().url }}" alt="{{ entry.aboutusImage.one().title }}" class="img-fluid">
	              </figure>
	            </div>
	         	</div>
	     		</div>
	   		</div>
			</section>
			<section class="seasonal-availiablity-wrapper light-grey-bg">
	   		<div class="container">
	      	<div class="row align-items-center justify-content-center">
	         	<div class="col-lg-6 col-md-8">
	            <div class="seasonal-availiablity-content text-center">
	              <h2>{{ entry.learnMoreText|raw }}</h2>
	            </div>
	         	</div>
	      	</div>
	      	<div class="seasonal-availiablity-list mt-4 mt-md-5">
	         	<ul class="list-unstyled multi-steps">	         		
	         		{% set monthMatrixs = entry.seasonalAvailability.all() %}
	         		{% if monthMatrixs|length %}
		         		{% for monthMatrix in monthMatrixs %}
			         		{% set dColor = '' %}
			         		{% set dColor = monthMatrix.monthColor %}
		         			<li><span class="circle" style="background-color: {{dColor}} !important;"></span><strong>{{ monthMatrix.monthTitle }}</strong><span class="line"></span></li>	         			
	         		{% endfor %}
	         		{% endif %}
	         	</ul>
	         	<ul class="seasonal-availiablity-item">
                 <li class="peakseason"><span></span>旺季</li>
                 <li class="available"><span></span>可供应</li>
                 <li class="out-of-season"><span></span>不在供应季节</li>
                </ul>
	      	</div>
	   		</div>
			</section>
			<section class="know-more-wrapper blue-bg">
			  <div class="container">
			    <div class="row align-items-center justify-content-center">
			      <div class="col-lg-6 col-md-8">
			        <div class="know-more-content text-center">
			          <h2 class="text-white">{{ entry.aboutUsButton|raw }}</h2>
			          <a href="{{ craft.app.sites.primarySite.baseUrl }}ch/contact-us" class="read-more mt-5 bg-white">{{ entry.contactTitle|raw }}</a>
			        </div>
			      </div>
			    </div>
			   </div>
			</section>
    
{% endblock %}