{% extends "ch/layout/_layout" %} 
{#{% set title = "Bait"|t('plugin-handle') %}#}
{% block content %} 

   <div class="section-header py-5">
	  <div class="container">
	    <div class="section-header-content">
	      <h6 class="mb-3 mb-md-4">{{ entry.title|raw }}</h6>
	      <h1>{{ entry.title|raw }}</h1>
	    </div>
	  </div>
	</div>
	<section class="our-seafood-wrapper grey-bg">
	  <div class="container">
	    <div class="row">
	        {# {% set ourBaits = craft.entries.section('baitListing').orderBy('postDate desc').limit(null).all() %} #}
	    	{% set ourBaits = entry.seafoodListing.all() %}
        {% if ourBaits|length %}
          {% for ourBait in ourBaits %}
			      <div class="col-md-6 mb-3 mb-md-0">
			          			          
	          	<figure class="effect-oscar">  
		            <img src="{{ ourBait.seaFoodImage.one().url }}" alt="{{ ourBait.seaFoodImage.one().title }}" class="img-fluid w-100">
		            <figcaption>
									<h3 class="text-white">{{ ourBait.seaFoodTitle }}</h3>
                  <h6 class="tk-rufina text-white">{{ ourBait.browseText }}</h6>
                  {% set learnmorelink = ourBait.links.one().slug ?? null %}
									<a href="{{ craft.app.sites.primarySite.baseUrl }}ch/{{ learnmorelink }}">View more</a>
								</figcaption>	
		          </figure>
			      </div>

			    {% endfor %}
        {% endif %}
	    </div>
	  </div>
	</section>
    
{% endblock %}