{% extends "ch/layout/_layout" %} 
{#{% set title = "Crustaceans"|t('plugin-handle') %}#}
{% block content %} 

  <div class="section-header py-5">
    <div class="container">
   		<div class="section-header-content">
   			{% set ourSeaFoodlink = entry.aboutUsButtonLink.one().slug ?? null %}
       	<h6 class="mb-3 mb-md-4"><a href="{{ ourSeaFoodlink }}"> {{ entry.aboutUsButtonLink.one().title }} </a> |  {{ entry.title|raw }}</h6>
       	<h1>{{ entry.title|raw }}</h1>
   		</div>
    </div>
  </div>
  <section class="our-partner-wrapper grey-bg">
		<div class="container">
	   	<div class="row">
	   		{% set frozenfishes = craft.entries.section('crustaceansListing').orderBy('postDate desc').limit(null).all() %}
        {% if frozenfishes|length %}
          {% for frozenfish in frozenfishes %}
			      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
			        <div class="bait-list-box">
			          <a href="{{ frozenfish.url }}">
			            <span class="bait-list">
			              {% set ffish = frozenfish.image.one() ?? null %}
	         	          {% if ffish|length %}
			              <figure>
			                <img src="{{ ffish.url }}" alt="{{ ffish.title }}" class="img-fluid">
			              </figure>
			              {% endif %}
			              {% set checkboxFieldType = frozenfish.stampEnableDiasble %}
							{% for option in checkboxFieldType.options %}
							    {% if option.selected %}
								    <figure class="msc-img">  
                    	                <img src="{{ craft.app.sites.primarySite.baseUrl }}assets/uploads/msc.png" alt="abc" class="img-fluid">
                    	              </figure>
								  {% endif %}
							{% endfor %}
			            </span>
			            <h5 class="tk-rufina mt-3">{{ frozenfish.title }}</h5>
			          </a>
			        </div>
			    	</div>
	    		{% endfor %}
        {% endif %}
	    </div>
		</div>
	</section>
{% endblock %}